<ul class="results" id="publications">
{{#each this }}    
    <li class="searchItem {{kind}}">
        <img src="{{image}}">
        <div class="searchDetails">
            <a href="{{url}}">{{title}}</a>
            <div class="attributions">{{details}}</div>
            <ul class="tags">
                {{#each tags}}
                <li class="tag"><a>{{this}}</a></li>
                {{/each}}
            </ul>
        </div>
    </li>
{{/each}}
</ul>